*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(248, 206, 248);
    overflow-x: hidden;

}
.main-container{
margin: 20px 50px 0px 0px;
}
.logo{
    font-size: 2.6em;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
font-family: 'Roboto', sans-serif;
}
.navbar{
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
}
.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    text-transform: capitalize;
}
.nav-links{
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
.nav-links li {
    height: 100%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 12rem;
    position: relative;
  }
  .sublinks {
    position: absolute;
    margin-top: 15px;
    border-radius: 10px;
    background-color: white;
    padding: 10px; /* Add padding for spacing */
    z-index: 10; /* Ensure it appears above other elements */
   display: none; /* display: none; Initially hide the sublinks container */
  }
  .pointer {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 254, 254); /* Adjust the color as needed */
    top: -8px; /* Position it above the sublinks container */
    left: 22%; /* Center it horizontally */
    transform: translateX(-50%);/* Center it horizontally */
  }
  .submenu{
    display: flex;
    flex-direction: column;
    padding: 5px 20px;

  }
  h2{
    text-transform: capitalize;
    font-size: 24px;
  }
.links{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 20px;
}
  .links a{
    display: flex;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
  }
  .links li a i {
    margin-right: 10px; 
  }

.sign-in-btn,
.start-btn{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    text-align: center;
    border: none;
    color: white;
    background-color: rgb(37, 37, 37);
}
.sign-in-btn:hover,
.start-btn:hover{
    background-color: rgb(117, 115, 115);
}
.start-btn{
    align-self: flex-start;
    margin: 0;
}
.section-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    margin: auto;
    max-width: 1000px;
}
.info{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: between;
    gap: 30px;
    align-items: self-start;
}
.phone{
    margin-right: -100px;
    height: 700px;
}
.details{
    font-size: 4.8em;
    line-height: 1em;
    text-transform: capitalize;
    white-space: nowrap;
}
p{
    font-size: 22px;
    line-height: 2em;
}
.toggle-btn{
   display: none;
}

@media screen and (max-width:1024px){
    .links{
        font-size: 1.4em;;
    gap: 2em;
    }
    .sign-in-btn,
    .start-btn{
        padding: 10px 30px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 7px;
        text-align: center;
        border: none;
        color: white;
        background-color: rgb(41, 40, 40);
    }
    .section-center{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin: 0 150px;
        max-width: 1000px;
    }
    .info{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: between;
        gap: 40px;
        align-items: self-start;
        max-width: 800px;
        object-fit: contain;
    }
    .pointer{
        left: 20%;
    }
    .phone{
        margin-right: -150px;
        height: 700px;
    }
    .details{
        font-size: 3.0em;
        line-height: 1.5em;
        text-transform: capitalize;
        white-space: nowrap;
    }
    p{
        font-size: 19px;
        line-height: 2em;
    }
}
@media screen and (max-width: 800px){
    .main-container{
        margin: auto;
    height: auto;
    max-width: 700px;
    }
    .logo{
        font-size: 2.5em;
    }
    .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
    padding: 0 50px;
    cursor: pointer;
    }
    .nav-links{
        display: none;
    }
    .toggle-btn{
        display: block;
        padding: 10px 15px;
        font-size: 20px;
        border-radius: 40%;
        border: none;
        color: white;
        background-color: rgb(37, 37, 37);
        cursor: pointer;
    }
    .toggle-btn:hover{
        background-color: rgb(117, 115, 115);
    }
    .links{
        display: none;
    }
    .sign-in-btn{
        display: none;
    }
    .start-btn{
        padding: 7px 30px;
        font-size: 24px;
        text-transform: capitalize;
        margin-left: 0px;
    }
    .start-btn:hover{
        background-color: rgb(117, 115, 115);
    }
    .section-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 700px;
        text-align: left;
        margin: 100px auto;
    }
    .info{
        display: flex;
        flex: 0;
        flex-direction: column;
        align-items: center;
        justify-content: between;
        gap: 30px;
        margin-left: 0px;
        width: 590px;
        align-items: self-start;
    }
    .phone{
        display: none;
    }
    .details{
        font-size: 3em;
        line-height: 1.4em;
        margin-left: 0px;

    }
    p{
        font-size: 20px;
        line-height: 1.6em;
    }
}
@media screen and (max-width: 480px){
    .main-container{
        margin: auto;
    height: auto;
    max-width: 360px;
    }
    .logo{
        font-size: 2.5em;
    }
    .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
    padding: 0 30px;
    }
    .toggle-btn{
        display: block;
        padding: 10px 15px;
        font-size: 20px;
        border-radius: 40%;
        border: none;
        color: white;
        background-color: rgb(37, 37, 37);
    }
    .links{
        display: none;
    }
    .sign-in-btn{
        display: none;
    }
    .start-btn{
        padding: 7px 30px;
        font-size: 24px;
        text-transform: capitalize;
        margin-left: 0px;
    }
    .start-btn:hover{
        background-color: rgb(117, 115, 115);
    }
    .section-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 320px;
        margin: 100px auto;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: between;
        gap: 30px;
        margin: 0px auto;
        width: 300px;
        align-items: self-start;
    }
    .details{
        font-size: 2.0em;
        line-height: 1.4em;
        margin-right: 0px;
    }
    p{
        font-size: 18px;
        line-height: 1.6em;
        width: 230px;
    }
    .phone{
        display: none;
    }
}
/* sidebar */
.sidebar-container{
    position: fixed;
    top: 20px;
    left: 20px;
    right: 30px;
    bottom: 30px;
    border-radius: 20px;
    background-color: #fdfbfb;
    visibility: hidden;
    z-index: -999;
}
.sidebar-container.show {
    visibility: visible;
    z-index: 2;
    transform: scale(1);
  }
.sidebar-links{
    width: 90vw;
    height: 95vh;
    padding: 4rem 2rem;
   padding-top: 80px;
   border-radius: 20px;
   position: relative;
}
.close-btn{
    position: absolute;
    font-size: 50px;
    color: black;
     background: transparent;
  border-color: transparent;
    top: 0.7em;
    right: 1em;
    cursor: pointer;
}
article{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 50px;
    margin-top: 50px;
}
h4{
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.sidebar-sublinks{
list-style-type: none;
font-size: 20px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 30px;
text-transform: capitalize;
}
.sidebar-sublinks a{
    color: black;
    text-decoration: none;
font-family: 'Roboto', sans-serif;
}
.sidebar-sublinks a i {
    margin-right: 10px !important; 
}