*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(248, 206, 248);
}
.main-container{
margin: 20px 50px 0px 0px;
}
.logo{
    font-size: 2.6em;
    text-transform: capitalize;
}
.navbar{
display: flex;
align-items: center;
justify-content: space-around;
color: white;

}
.links{
    list-style-type: none;
    font-size: 1.2em;
    display: flex;
align-items: center;
justify-content: center;
gap: 3em;
text-transform: capitalize;
font-weight: 700;
}
.links li:hover{
    color: #000;
}
.sign-in-btn,
.start-btn{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    text-align: center;
    border: none;
    color: white;
    background-color: rgb(37, 37, 37);
}
.sign-in-btn:hover,
.start-btn:hover{
    background-color: rgb(117, 115, 115);
}
.start-btn{
    align-self: flex-start;
    margin: 0;
}
.section-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    margin: auto;
    max-width: 1000px;
}
.info{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: between;
    gap: 30px;
    align-items: self-start;
}
.phone{
    margin-right: -100px;
    height: 700px;
}
.details{
    font-size: 4.8em;
    line-height: 1em;
    text-transform: capitalize;
    white-space: nowrap;
}
p{
    font-size: 22px;
    line-height: 2em;
}
.toggle-btn{
   display: none;
}

@media screen and (max-width:1024px){
    .links{
        font-size: 1.4em;;
    gap: 2em;
    }
    .sign-in-btn,
    .start-btn{
        padding: 10px 30px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 7px;
        text-align: center;
        border: none;
        color: white;
        background-color: rgb(37, 37, 37);
    }
    .section-center{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin: 0 150px;
        max-width: 1000px;
    }
    .info{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: between;
        gap: 40px;
        align-items: self-start;
        max-width: 800px;
        object-fit: contain;
    }
    .phone{
        margin-right: -150px;
        height: 700px;
    }
    .details{
        font-size: 3.0em;
        line-height: 1.5em;
        text-transform: capitalize;
        white-space: nowrap;
    }
    p{
        font-size: 19px;
        line-height: 2em;
    }
}
@media screen and (max-width: 800px){
    .main-container{
        margin: auto;
    height: auto;
    max-width: 700px;
    }
    .logo{
        font-size: 2.5em;
    }
    .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
    padding: 0 50px;
    }
    .toggle-btn{
        display: block;
        padding: 10px 15px;
        font-size: 20px;
        border-radius: 40%;
        border: none;
        color: white;
        background-color: rgb(37, 37, 37);
    }
    .links{
        display: none;
    }
    .sign-in-btn{
        display: none;
    }
    .start-btn{
        padding: 7px 30px;
        font-size: 24px;
        text-transform: capitalize;
        margin-left: 0px;
    }
    .start-btn:hover{
        background-color: rgb(117, 115, 115);
    }
    .section-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 700px;
        text-align: left;
        margin: 100px auto;
    }
    .info{
        display: flex;
        flex: 0;
        flex-direction: column;
        align-items: center;
        justify-content: between;
        gap: 30px;
        margin-left: 0px;
        width: 590px;
        align-items: self-start;
    }
    .phone{
        display: none;
    }
    .details{
        font-size: 3em;
        line-height: 1.4em;
        margin-left: 0px;

    }
    p{
        font-size: 20px;
        line-height: 1.6em;
    }
}
@media screen and (max-width: 480px){
    .main-container{
        margin: auto;
    height: auto;
    max-width: 360px;
    }
    .logo{
        font-size: 2.5em;
    }
    .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
    padding: 0 30px;
    }
    .toggle-btn{
        display: block;
        padding: 10px 15px;
        font-size: 20px;
        border-radius: 40%;
        border: none;
        color: white;
        background-color: rgb(37, 37, 37);
    }
    .links{
        display: none;
    }
    .sign-in-btn{
        display: none;
    }
    .start-btn{
        padding: 7px 30px;
        font-size: 24px;
        text-transform: capitalize;
        margin-left: 0px;
    }
    .start-btn:hover{
        background-color: rgb(117, 115, 115);
    }
    .section-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 320px;
        margin: 100px auto;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: between;
        gap: 30px;
        margin: 0px auto;
        width: 300px;
        align-items: self-start;
    }
    .details{
        font-size: 2.0em;
        line-height: 1.4em;
        margin-right: 0px;
    }
    p{
        font-size: 18px;
        line-height: 1.6em;
        width: 230px;
    }
    .phone{
        display: none;
    }
}